#menu_superior {
	width: 100%;
	top: 0;
	float: left;
	height: 300px;

}
header {
	width: 100%;
	height: 85%;
	float: left;
	background-image: url("http://blog.bonitour.com.br/wp-content/uploads/2019/04/destaque-02-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	text-align: center;
	color: white;
	font-size: 45px;
}
nav {
	width: 100%;
	height: 15%;
	float: left;

}
#conteudo_centro {
	padding: 10px;
	width: 70%;
	margin: 0px 5% 60px 15%;
	float: left;

}
article {
	width: 49%;
	height: 100%;
	float: left;
	text-align: justify;

}
aside {
	width: 50%;
	height: 100%;
	float: right;
	text-align: justify;

}
footer {
	width: 100%;
	height: 50px;
	float: left;
	bottom: 0;
	background-color: white;
	position: fixed;
	padding: 5px;

}

		#menu{
			top: 0;
			left: 0;
			width: 100%;
		}

		#menu ul {
			margin: 0px;
			padding: 15px;
			list-style: none;
			text-align: center;
			background-color: #4981b9;

		}
		#menu ul li {
			display: inline-block;
		}
		#menu ul li a {
			padding: 75px;
			color: white;
			font-size: 18px;
			text-decoration: none;
		}
		#menu ul li a:hover {
			padding: 75px;
			color: yellow;
			font-size: 18px;
			text-decoration: none;
		}
		p {
			padding: 3px;
		}