                #menu{ 
                         position: fixed; 
                         top: 0; 
                         left: 0; 
                         width: 100%;
                         height: 8%;

                 } 
  
                 #menu ul { 
                         margin: 0px; 
                         background: linear-gradient(to right,#ECFF00,#BDFF00,#8FC100,#32C100);
                         list-style: none; 
                         padding: 20px; 
                         text-align: center; 
                         font-size: 30px;  
                 } 
                 #menu ul li { 
                         display: inline-block;

                 } 
                 #menu ul li a { 
                         padding: 75px; 
                         color: black; 
                         text-decoration: none; 
                         
                 } 
                 #menu  ul li a:hover{ 
                         color: blue;

                 } 
                #corpo {
                        position: center;
                        margin: 130px 350px 0px 350px;
                        float: flex;
                        width: 60%;
                        height: 92%;
                        font-size: 17px;
                }

                #imagem_texto {
                        width: 50%;
                        float: left;

                }
                #texto_imagem {
                        width: 50%;
                        float: right;
                        text-align: justify;
                }
                #corpo_corpo{

                        width: 100%;
                        float: left;

                }
                h1 {
                        text-align: center;
                        font-size: 45px;
                }