body{
	background-color:white;
}

#painel {
	margin: 0px;
	top: 0;
	left: 0;
	height: 150px;
	width: 100%;
}

#painel_header {
	width: 100%;
	height: 70%;
	font-size: 90px;
	color: white;
	background: linear-gradient(to right,#2980B9,#6DD5FA);
	
	
}
#painel_navheader {
	float: left;
	height: 30%;
	width:100%;
	bottom: 0;
	color:white;
}

#conteudo_centro {
	margin: 0px 5% 0px 15%;
	width: 70%;
	background-color: white;
	float: left;
}


#painel_baixo{
	bottom: 0;
	left: 0;
	height: 300px;
	width: 100%;
	float: left;

}
#footer_superior {
	height: 15%;
	width:100%;
	background-color: #3A6713;
	bottom: 0;
	color: white;
	text-align: center;
	padding: 0.1px;
	
	
}
#footer_inferior {
	text-align: justify;
	width: 100%;
	height: 70%;
	background-color: #084203;
	color: white;
	float: left;
}
#footer_inferior1 {
	margin: 0px 55px;
	padding: 20px;
	width: 25%;
	height: 100%;
	color: white;
	float: left;
}
#footer_inferior2 {
	padding: 20px;
	width: 25%;
	height: 100%;
	color: white;
	float: left;
}
#footer_inferior3 {
	padding: 20px;
	width: 25%;
	height: 100%;
	color: white;
	float: left;
}

#cc_esquerda {
	width: 49%;
	height: 400px;
	float: left;
	font-size: 16px;
	text-align: justify;
}

#cc_direita {
	width: 49%;
	height: 400px;
	float: right;

}
#conteudo_centro_2 {
	width: 100%;
	background-color: white;
	float: left;
}

/* Menu */

 				#menu{ 
                         
                         width: 100%;
                         height: 100%;

                 } 
  
                 #menu ul { 
                         margin: 0px; 
                      	 background: linear-gradient(to right,#084203,#3A6713);
                         list-style: none; 
                         padding: 5px; 
                         text-align: center; 
                         font-size: 30px;  
                 } 
                 #menu ul li { 
                         display: inline-block;

                 } 
                 #menu ul li a { 
                         padding: 75px; 
                         color: white; 
                         text-decoration: none; 
                         
                 } 
                 #menu  ul li a:hover{ 
                         color: yellow;

                 } 
	