		body{
			background-color:#c3a064 ;
		}
		#menu{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}

		#menu ul {
			margin: 0px;
			background-color: #351d13;
			list-style: none;
			padding: 10px;
			text-align: left;
			font-size: 22px;

		}
		#menu ul li {
			display: inline-block;
		}
		#menu ul li a {
			padding: 25px;
			color: white;
			text-decoration: none;
		}
		#menu  ul li a:hover{
			color: #c3a064;
		}
		h1{
			text-align: center;
			font-size: 40px;
			color: white;

		}
		h2 {
			color: #c3a064;
			text-align: center;
			background-color: #351d13;
			margin: 0 20% 0 20%;
			padding: 3px;
		}
		p {
			text-align: justify;
			margin: 0 20% 0 20%;
			background-color: #351d13;
			padding: 10px;

		}
		header {
			top: 0;
			width: 100%;
			height: 20%;
		}

		nav {
			width: 100%;
			top: 0;
			
		}
		section {
			width: 99%;
			height: 69%;
			position: absolute;

		}
		aside {
			float: right;
			width: 30%;
			
		}
		article{
			font-size: 21px;
			float: left;
			width: 69%;
			color: white;
			
		}
		footer {
			padding: 10px;
			text-align: center;
			font-size: 18px;
			color: white;
			bottom: 0;
			left: 0;
			background-color: #351d13;
			position: fixed;
			width: 100%;
		}


